@import "/files/addons/logbook/plugins/syntaxhighlighter/styles/shThemeEclipse.css";
@import "/files/addons/logbook/css/jquery-ui.css";
@import "/files/addons/logbook/css/jquery-ui-timepicker.css";
@import "/files/addons/logbook/css/tablesort.css";

#historybox, #hidehistory {
  display:none;
}

a[icon ^="add"] {
   padding-right: 20px;
   background: transparent url(/files/addons/logbook/icons/add.png)  no-repeat center right;
}

a[icon ^="delete"] {
   padding-right: 20px;
   background: transparent url(/files/addons/logbook/icons/delete.png)  no-repeat center right;
}

.logbook {
  width:950px;
  position:relative;
  float:left;
}

.tinyMCEEditor {
  width:950px;
}

a[icon ^="bullet_arrow_right"] {
   padding-right: 16px;
   background: transparent url(/files/addons/logbook/icons/bullet_arrow_right.png)  no-repeat center right;
}

a[icon ^="bullet_arrow_down"] {
   padding-right: 16px;
   background: transparent url(/files/addons/logbook/icons/bullet_arrow_down.png)  no-repeat center right;
}

a[icon ^="resultset_next"] {
   padding-right: 16px;
   background: transparent url(/files/addons/logbook/icons/resultset_next.png)  no-repeat center right;
}

a[icon ^="resultset_previous"] {
   padding-right: 16px;
   background: transparent url(/files/addons/logbook/icons/resultset_previous.png)  no-repeat center right;
}




